/* You can add global styles to this file, and also import other style files */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "assets/style/variables";
@import "assets/style/checkbox.scss";
@import "assets/style/tooltip.scss";
@import "assets/style/dropdown.scss";

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  padding-top: 5rem;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

button:disabled {
  cursor: not-allowed;
  pointer-events: all !important;
  opacity: 0.5;
}
