/* You can add global styles to this file, and also import other style files */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

// Importing global css files
@import "assets/style/normalize.css";
@import "assets/style/reset.scss";
@import "assets/style/responsive.scss";
@import "assets/style/variables";
@import "assets/style/framework.scss";
@import "assets/style/checkbox.scss";
@import "assets/style/tooltip.scss";
@import "assets/style/dropdown.scss";

@font-face {
  font-family: Montserrat;
  src: url(assets/font/Montserrat-Variable.ttf) format("truetype");
}

@font-face {
  font-family: Playball;
  src: url(assets/font/Playball-Regular.ttf) format("truetype");
}
