<div class="page-wrapper col-xl-8">
  <!-- Add item -->
  <form
    #create="ngForm"
    (ngSubmit)="createItem(create.value.name); create.reset()"
    class="add-item-form"
  >
    <div class="input-container input-wide">
      <input
        class="add-item"
        name="name"
        type="text"
        ngModel
        #name
        placeholder="Add item"
        autocomplete="off"
      />
      <span class="focus-border"></span>
    </div>

    <!-- Plus button -->
    <button class="button add-button" type="submit">
      <fa-icon [icon]="faPlus" size="lg"></fa-icon>
    </button>

    <!-- Action menu -->
    <div class="dropdown">
      <!-- Action menu button -->
      <button
        class="button actions-button"
        type="button"
        (click)="actionsOpen = !actionsOpen"
      >
        <fa-icon [icon]="faEllipsisVertical" size="lg"></fa-icon>
      </button>

      <!-- Action menu dropdown -->
      <div *ngIf="actionsOpen" class="dropdown-menu">
        <!-- Backdrop -->
        <button
          tabindex="-1"
          class="dropdown-backdrop"
          (click)="actionsOpen = false"
        ></button>

        <!-- Dropdown menu -->
        <div class="dropdown-content">
          <div
            class="dropdown-item"
            (click)="actionsOpen = false; deleteDone()"
          >
            Clear done
          </div>
          <div class="dropdown-item" (click)="actionsOpen = false; deleteAll()">
            Clear all
          </div>
        </div>
      </div>
    </div>
  </form>

  <!-- Items -->
  <div class="items">
    <!-- Undone items -->
    <div class="item" *ngFor="let item of items | undone">
      <input
        type="checkbox"
        class="checkbox"
        #status
        [checked]="item.done"
        (change)="updateItem(item, { done: status.checked })"
      />
      <span
        #create
        class="item-name"
        contenteditable="true"
        (paste)="onPaste(item, $event)"
        (keydown)="onKeydown(item, $event)"
        (focusout)="updateItem(item, { name: create.textContent })"
        >{{ item.name }}</span
      >

      <button
        class="button button-inverted item-remove"
        (click)="deleteItem(item)"
      >
        <fa-icon [icon]="faXmark"></fa-icon>
      </button>
    </div>

    <!-- Done items -->
    <div class="item item-done" *ngFor="let item of items | done">
      <input
        type="checkbox"
        class="checkbox"
        #status
        [checked]="item.done"
        (change)="updateItem(item, { done: status.checked })"
      />
      <span
        #create
        class="item-name"
        contenteditable="true"
        (paste)="onPaste(item, $event)"
        (keydown)="onKeydown(item, $event)"
        (focusout)="updateItem(item, { name: create.textContent })"
        >{{ item.name }}</span
      >

      <button
        class="button button-inverted item-remove"
        (click)="deleteItem(item)"
      >
        <fa-icon [icon]="faPlus" size="lg"></fa-icon>
      </button>
    </div>
  </div>

  <app-dialog
    [(show)]="showConfirmModal"
    [actionName]="'OK'"
    [title]="'Delete?'"
    (action)="confirmed = true; confirmAction()"
    [autoHide]="true"
  ></app-dialog>
</div>
