<div
  class="flex flex-col justify-center items-center w-11/12 md:w-8/12 xl:w-6/12 mx-auto mt-4 md:mt-8"
>
  <!-- Add item -->
  <form
    #create="ngForm"
    (ngSubmit)="createItem(create.value.name); create.reset()"
    class="w-full flex items-center rounded shadow-md py-2 px-3 border-gray-300 border border-solid"
  >
    <div class="input-container" style="width: 100%">
      <input
        style="border: none; width: 100%"
        name="name"
        type="text"
        ngModel
        #name
        placeholder="Add item"
        autocomplete="off"
      />
      <span class="focus-border"></span>
    </div>

    <!-- Plus button -->
    <button
      class="ml-4 flex-shrink-0 bg-teal-600 hover:bg-teal-700 border-teal-600 hover:border-teal-700 text-sm border-4 text-white py-1 px-2 rounded"
      type="submit"
    >
      <svg
        class="h-6 w-6"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M12 6v6m0 0v6m0-6h6m-6 0H6"
        />
      </svg>
    </button>

    <!-- Action menu -->
    <div class="dropdown">
      <!-- Action menu button -->
      <button
        class="focus:outline-none block ml-4 flex-shrink-0 hover:bg-teal-700 hover:text-white text-sm text-gray-500 py-1 px-1 rounded"
        type="button"
        (click)="actionsOpen = !actionsOpen"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M12 5v.01M12 12v.01M12 19v.01M12 6a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z"
          />
        </svg>
      </button>

      <!-- Action menu dropdown -->
      <div *ngIf="actionsOpen" class="dropdown-menu">
        <!-- Backdrop -->
        <button
          tabindex="-1"
          class="dropdown-backdrop"
          (click)="actionsOpen = false"
        ></button>

        <!-- Dropdown menu -->
        <div class="dropdown-content">
          <div
            class="dropdown-item"
            (click)="actionsOpen = false; deleteDone()"
          >
            Remove checked
          </div>
        </div>
      </div>
    </div>
  </form>

  <!-- Items -->
  <div class="items w-full">
    <!-- Undone items -->
    <div
      class="item w-full flex items-center px-2 py-2 mt-6 text-gray-800"
      *ngFor="let item of items | undone"
    >
      <input
        type="checkbox"
        class="checkbox"
        #status
        [checked]="item.done"
        (change)="updateItem(item, { done: status.checked })"
      />
      <span
        #create
        class="item-name w-full ml-3 text-base select-text outline-none"
        contenteditable="true"
        (paste)="onPaste(item, $event)"
        (keydown)="onKeydown(item, $event)"
        (focusout)="updateItem(item, { name: create.textContent })"
        >{{ item.name }}</span
      >

      <button
        class="item-remove flex-shrink-0 hover:bg-gray-200 rounded-full focus:outline-none p-2 hover:text-black"
        (click)="deleteItem(item)"
      >
        <svg
          class="fill-current w-4 h-4"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M6 18L18 6M6 6l12 12"
          />
        </svg>
      </button>
    </div>

    <!-- Done items -->
    <div
      class="item w-full flex items-center px-2 py-2 mt-6 text-gray-500 line-through"
      *ngFor="let item of items | done"
    >
      <input
        type="checkbox"
        class="checkbox"
        #status
        [checked]="item.done"
        (change)="updateItem(item, { done: status.checked })"
      />
      <span
        #create
        class="item-name w-full ml-3 text-base select-text outline-none"
        contenteditable="true"
        (paste)="onPaste(item, $event)"
        (keydown)="onKeydown(item, $event)"
        (focusout)="updateItem(item, { name: create.textContent })"
        >{{ item.name }}</span
      >

      <button
        class="item-remove flex-shrink-0 hover:bg-gray-200 rounded-full focus:outline-none p-2 hover:text-black"
        (click)="deleteItem(item)"
      >
        <svg
          class="fill-current w-4 h-4"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M6 18L18 6M6 6l12 12"
          />
        </svg>
      </button>
    </div>
  </div>

  <app-dialog
    [(show)]="showConfirmModal"
    [actionName]="'OK'"
    [title]="'Delete?'"
    (action)="deleteDone(true)"
    [autoHide]="true"
  ></app-dialog>
</div>
