<div class="container">
    <form id="create-item" action="#">
        <div class="input-group" style="box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.2); border-radius: .25rem;">
            <input type="text" name="item" class="form-control" placeholder="Add item" autocomplete="off" autofocus></input>
            <div class="input-group-append">
                <button class="btn btn-light"><i class="fas fa-plus"></i></button>
            </div>
        </div>
    </form>
</div>

<div class="container">
    <ul id="items" class="items list-group list-group-flush"></ul>
    <hr id="items-divider" class="hidden"></hr>
    <ul id="items-done" class="items list-group list-group-flush"></ul>
</div>

<div>
    <button id="install" class="btn btn-info hidden">Install</button>
</div>