body {
	padding-top: 80px;
}

input {
	border: 1px solid lightgrey !important;
	border-radius: 5px 0px 0px 5px;
}

input:focus {
	outline: none !important;
	box-shadow: none !important;
}

.navbar-custom {
	background: #008376;
}

.navbar-custom .navbar-brand,
.navbar-custom .nav-link {
	color: white !important;
}

.items {
	list-style-type: none;
}

.items li:hover {
	cursor: pointer;
}

.items li i {
	color: #777;
}

.items li:hover i {
	color: #111;
}

.items li span {
	margin-left: 10px;
}

.items li span.remove {
	text-decoration: none !important;
}

.item {
	padding: 10px 20px 10px 20px;
	height: 50px;
}
.item:hover .item-remove {
	visibility: visible;
}

.item-done * {
	color: #aaa !important;
}

.item-done span {
	text-decoration: line-through;
}

.item-remove {
	margin-left: auto;
}

.item-remove:hover {
	font-weight: bold;
}

.hidden {
	display: none;
}

.btn-invisible {
	visibility: hidden;
}

#install {
	position: absolute;
	left: 20px;
	bottom: 20px;
}

[contenteditable] {
	outline: 0px solid transparent;
	-webkit-user-select: text;
}