<!-- Service tokens -->
<h2>Service tokens</h2>

<!-- List of tokens -->
<div class="tokens">
  <!-- Token -->
  <div class="token" *ngFor="let token of tokens">
    <!-- Key icon -->
    <fa-icon [icon]="faKey" size="lg"></fa-icon>

    <!-- Token name -->
    <span class="token-name">
      {{ token.name }}
    </span>

    <!-- Token create date -->
    <span class="token-created">{{
      UtilService.timestampToDate(token.created)
    }}</span>

    <!-- Actions -->
    <button class="button icon-only" (click)="deleteToken(token)">
      <fa-icon [icon]="faTrashCan" size="lg"></fa-icon>
    </button>
  </div>
</div>

<!-- Create button -->
<button class="button" type="button" (click)="showModal = true">Create</button>

<!-- Create dialog -->
<app-dialog
  [(show)]="showModal"
  [actionName]="modalActionName"
  [title]="modalTitle"
  [error]="modalError"
  [success]="modalSuccess"
  [fields]="modalFields"
  (action)="createToken($event.name)"
></app-dialog>
