<div class="page-wrapper col-xl-8">
  <h1 class="page-title">Access Management</h1>

  <!-- Service tokens -->
  <h2>Service tokens</h2>

  <div class="items w-full">
    <div
      class="w-full flex items-center px-2 py-2 mt-4"
      *ngFor="let token of tokens"
    >
      <svg
        class="fill-current w-4 h-4"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M15 7a2 2 0 012 2m4 0a6 6 0 01-7.743 5.743L11 17H9v2H7v2H4a1 1 0 01-1-1v-2.586a1 1 0 01.293-.707l5.964-5.964A6 6 0 1121 9z"
        />
      </svg>
      <span class="w-full ml-3 text-base outline-none">
        {{ token.name }}
      </span>

      <span class="ml-auto text-gray-500 whitespace-nowrap">{{
        util.timestampToDate(token.created)
      }}</span>

      <button
        class="ml-3 flex-shrink-0 hover:bg-gray-200 rounded-full focus:outline-none p-2 hover:text-black"
        (click)="deleteToken(token)"
      >
        <svg
          class="fill-current w-4 h-4"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"
          />
        </svg>
      </button>
    </div>
  </div>

  <!-- Create service token -->
  <button
    class="mt-4 w-48 bg-teal-500 hover:bg-teal-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
    type="button"
    (click)="showModal = true"
  >
    Create Service Token
  </button>

  <app-dialog
    [(show)]="showModal"
    [actionName]="modalActionName"
    [title]="modalTitle"
    [error]="modalError"
    [success]="modalSuccess"
    [fields]="modalFields"
    (action)="createToken($event.name)"
  ></app-dialog>
</div>
