.tokens {
  margin-bottom: 1rem;
  width: 100%;
}

.token {
  width: 100%;
  display: flex;
  align-items: center;

  .token-name {
    margin-left: 0.5rem;
  }

  .token-created {
    margin-left: auto;
    white-space: nowrap;
  }
}
