<div class="wrapper">
  <!-- Setup Form -->
  <form
    class="login-form col-12 col-s-8 col-m-6 col-l-5 col-xl-3"
    #setup="ngForm"
    (ngSubmit)="doSetup(setup)"
    action="#"
    method="post"
    ngNativeValidate
  >
    <h1 class="title">To-Do-List</h1>

    <!-- Username -->
    <div class="input-group">
      <label class="input-label" for="username">Username</label>
      <div class="input-container">
        <input
          #username="ngModel"
          ngModel
          name="username"
          class="login-input"
          type="text"
          placeholder="Username"
          autocomplete="off"
          required
          autofocus
        />
        <span class="focus-border"></span>
      </div>
    </div>

    <!-- Password -->
    <div class="input-group">
      <label class="input-label" for="password1">Password</label>
      <input
        [(ngModel)]="password1"
        name="password1"
        class="login-input"
        type="password"
        placeholder="******************"
        required
      />
    </div>

    <!-- Password (repeat) -->
    <div class="input-group">
      <label class="input-label" for="password2">Password (repeat)</label>
      <input
        [(ngModel)]="password2"
        name="password2"
        class="login-input"
        type="password"
        placeholder="******************"
        required
      />
    </div>
    <button class="button login-button" type="submit" [disabled]="loading">
      <!-- Spinner -->
      <fa-icon *ngIf="loading" [icon]="faSpinner" size="lg"></fa-icon>
      Setup
    </button>

    <!-- Error -->
    <div class="error" role="alert" *ngIf="error">
      {{ error }}
    </div>
  </form>
</div>
