<div class="flex flex-col justify-center items-center w-11/12 md:w-8/12 xl:w-6/12 mx-auto mt-4 md:mt-8">
    <!-- Add item -->
    <form #create="ngForm" (ngSubmit)="createItem(create.value.name); create.reset()"
        class="w-full flex items-center rounded shadow-md py-2 px-3 border-gray-400 border border-solid">
        <input name="name" ngModel #name
            class="h-12 appearance-none w-full text-gray-700 leading-tight focus:outline-none text-base border-b border-white focus:border-teal-600"
            placeholder="Add item" autocomplete="off" />
        <button
            class="ml-4 flex-shrink-0 bg-teal-600 hover:bg-teal-700 border-teal-600 hover:border-teal-700 text-sm border-4 text-white py-1 px-2 rounded"
            type="submit">

            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
            </svg>
        </button>

        <!-- Actions -->
        <span class="relative dropdown" style="color: #9CA3AF;">
            <button
                class="focus:outline-none block ml-4 flex-shrink-0 hover:bg-teal-700 hover:text-white text-sm text-gray-500 py-1 px-1 rounded"
                type="button" (click)="actionsOpen = !actionsOpen">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M12 5v.01M12 12v.01M12 19v.01M12 6a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z" />
                </svg>
            </button>

            <!-- Dropdown overlay -->
            <button *ngIf="actionsOpen" (click)="actionsOpen = false" tabindex="-1"
                class="fixed inset-0 h-full w-full cursor-default"></button>

            <!-- Dropdown menu -->
            <div *ngIf="actionsOpen"
                class="dropdown-content absolute right-0 w-48 py-2 bg-white rounded-lg text-gray-800 shadow-xl cursor-pointer">
                <span class="px-4 py-2 block hover:bg-teal-600 hover:text-white"
                    (click)="actionsOpen = false; deleteDone();">Remove check items</span>
            </div>
        </span>
    </form>

    <!-- Items -->
    <div class="items w-full">
        <!-- Undone items -->
        <div class="item w-full flex items-center px-2 py-2 mt-6 text-gray-800" *ngFor="let item of items | undone">
            <input type="checkbox"
                class="form-checkbox rounded text-teal-600 w-6 h-6 border-2 border-gray-400 cursor-pointer" #status
                [checked]="item.done" (change)="updateItem(item, {done: status.checked})" />
            <span #create class="item-name w-full ml-3 text-base select-text outline-none" contenteditable="true"
                (paste)="onPaste(item, $event)" (keydown)="onKeydown(item, $event)"
                (focusout)="updateItem(item, {name: create.textContent})">{{item.name}}</span>

            <button
                class="item-remove flex-shrink-0 hover:bg-gray-200 rounded-full focus:outline-none p-2 hover:text-black"
                (click)="deleteItem(item)">
                <svg class="fill-current w-4 h-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                </svg>
            </button>
        </div>

        <!-- Done items -->
        <div class="item w-full flex items-center px-2 py-2 mt-6 text-gray-500 line-through"
            *ngFor="let item of items | done">
            <input type="checkbox"
                class="form-checkbox rounded text-teal-600 w-6 h-6 border-2 border-gray-400 cursor-pointer" #status
                [checked]="item.done" (change)="updateItem(item, {done: status.checked})" />
            <span #create class="item-name w-full ml-3 text-base select-text outline-none" contenteditable="true"
                (paste)="onPaste(item, $event)" (keydown)="onKeydown(item, $event)"
                (focusout)="updateItem(item, {name: create.textContent})">{{item.name}}</span>

            <button
                class="item-remove flex-shrink-0 hover:bg-gray-200 rounded-full focus:outline-none p-2 hover:text-black"
                (click)="deleteItem(item)">
                <svg class="fill-current w-4 h-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                </svg>
            </button>
        </div>
    </div>

    <app-dialog [(show)]="showConfirmModal" [actionName]="'OK'" [title]="'Delete?'" (action)="deleteDone(true);"
        [autoHide]="true"></app-dialog>
</div>
