.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.main {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.content {
    padding-bottom: 5rem;
    flex: 1;
}