<div class="wrapper">
  <!-- Login Form -->
  <form
    class="login-form col-12 col-s-8 col-m-6 col-l-5 col-xl-3"
    #login="ngForm"
    (ngSubmit)="doLogin(login)"
    action="#"
    method="post"
    [style.display]="waitForTfa ? 'none' : 'block'"
  >
    <h1 class="title">TaskMe!</h1>

    <!-- Username -->
    <div class="input-group">
      <label class="input-label" for="username">Username</label>
      <div class="input-container">
        <input
          class="login-input"
          name="username"
          type="text"
          placeholder="Username"
          autocomplete="off"
          required
          autofocus
        />
        <span class="focus-border"></span>
      </div>
    </div>

    <!-- Password -->
    <div class="input-group">
      <label class="input-label" for="password">Password</label>
      <div class="input-container">
        <input
          class="login-input"
          [(ngModel)]="password"
          name="password"
          type="password"
          placeholder="******************"
          required
        />
        <span class="focus-border"></span>
      </div>
    </div>

    <!-- Login button -->
    <button class="button login-button" type="submit" [disabled]="loading">
      <!-- Spinner -->
      <fa-icon *ngIf="loading" [icon]="faSpinner" size="lg"></fa-icon>
      Login
    </button>

    <!-- Error -->
    <div class="error" role="alert" *ngIf="error">
      {{ error }}
    </div>
  </form>

  <!-- Two-Factor Authentication Form -->
  <form
    class="login-form col-12 col-s-8 col-m-6 col-l-5 col-xl-3"
    #tfa="ngForm"
    (ngSubmit)="doLogin(login)"
    action="#"
    method="post"
    [style.display]="waitForTfa ? 'block' : 'none'"
  >
    <h1 class="title">Two-Factor</h1>
    <div class="input-group">
      <label class="input-label" for="username">Authentication code</label>
      <div class="input-container">
        <input
          #tfa="ngModel"
          ngModel
          name="tfa"
          class="input-wide"
          type="text"
          autocomplete="off"
          placeholder="6-digit code"
          required
          autofocus
        />
        <span class="focus-border"></span>
      </div>
    </div>
    <button class="button login-button" type="submit" [disabled]="loading">
      <!-- Spinner -->
      <fa-icon *ngIf="loading" [icon]="faSpinner" size="lg"></fa-icon>
      Verify
    </button>

    <!-- Error -->
    <div class="error" role="alert" *ngIf="error">
      {{ error }}
    </div>
  </form>
</div>
