<!-- Modal -->
<div *ngIf="show" class="modal">
  <button class="backdrop" tabindex="-1" (click)="hide()"></button>

  <form
    #modalForm="ngForm"
    (ngSubmit)="onSubmit(modalForm)"
    class="form col-12 col-s-8 col-m-6 col-l-5 col-xl-3"
  >
    <!-- Add margin if you want to see some of the overlay behind the modal-->
    <div class="content">
      <!-- Modal Header -->
      <div class="header">
        <!-- Modal Title -->
        <p class="title">{{ title }}</p>

        <!-- Close button -->
        <div class="close-button" (click)="hide()">
          <fa-icon [icon]="faXmark" size="lg"></fa-icon>
        </div>
      </div>

      <!-- Modal Body -->
      <div *ngFor="let field of fields">
        <div class="input-group">
          <div class="input-container">
            <label class="input-label">{{ capitalize(field) }}</label>
            <input
              name="{{ field }}"
              ngModel
              class="input-wide"
              type="text"
              placeholder="{{ capitalize(field) }}"
            />
            <span class="focus-border"></span>
          </div>
        </div>
      </div>

      <!-- Modal Footer -->
      <div class="footer">
        <button class="button button-inverted">
          {{ actionName }}
        </button>
        <button class="button close-button" (click)="hide()">Close</button>
      </div>

      <!-- Error -->
      <div *ngIf="error" class="result error">
        <!-- Message -->
        <div class="message">
          {{ error }}
        </div>
      </div>

      <!-- Success -->
      <div *ngIf="success" class="result success">
        <!-- Message -->
        <div class="message">
          {{ success }}
        </div>

        <!-- Copy button -->
        <span class="tooltip tooltip-left">
          <span class="tooltip-text">{{ copyTooltipText }}</span>
          <button class="copy-button" (click)="copyText(success)" type="button">
            <fa-icon [icon]="faCopy" size="lg"></fa-icon>
          </button>
        </span>
      </div>
    </div>
  </form>
</div>
