<nav>
  <a [routerLink]="['/']" class="title">To-Do-List</a>

  <div class="nav-right">
    <!-- Offline tooltip -->
    <span class="tooltip tooltip-left" *ngIf="!online">
      <span class="tooltip-text">You are offline</span>
      <fa-icon class="error" [icon]="faCloud" size="lg"></fa-icon>
    </span>

    <!-- User menu -->
    <div class="dropdown" *ngIf="auth.isLoggedIn; else elseBlock">
      <!-- Username -->
      <button
        class="relative px-4 z-10 block focus:outline-none inline-flex items-center"
        (click)="menuOpen = !menuOpen"
      >
        {{ auth.getCurrentUser().username }}
        &#x25BE;
      </button>

      <!-- User menu dropdown -->
      <div *ngIf="menuOpen" class="dropdown-menu">
        <!-- Backdrop -->
        <button
          tabindex="-1"
          class="dropdown-backdrop"
          (click)="menuOpen = false"
        ></button>

        <!-- Dropdown menu -->
        <div class="dropdown-content">
          <a
            class="dropdown-item"
            [routerLink]="['/settings']"
            href="#"
            (click)="menuOpen = false"
            >Settings</a
          >
          <a class="dropdown-item" href="#" (click)="menuOpen = false; logout()"
            >Logout</a
          >
        </div>
      </div>
    </div>

    <!-- Login button -->
    <ng-template #elseBlock>
      <a
        [routerLink]="['/login']"
        class="ml-auto inline-block text-sm px-4 py-2 leading-none border rounded border-white hover:border-transparent hover:text-teal-600 hover:bg-white"
        ><strong>Login</strong></a
      >
    </ng-template>
  </div>
</nav>
